# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/

# Checkpoints & logs
*.ckpt
*.pt
wandb/
outputs/
